/* Scroll bar css start */
::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: #e9e6e6;
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 196, 195);
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(151, 150, 149);
  border: 0.2rem solid transparent;
  background-clip: content-box;
}

/* Scroll bar css end */

/* Header Css Start */
.header-nav {
  width: 100%;
  height: 9rem;
  z-index: 99;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
.header-nav .topbar {
  width: 100%;
  border-bottom: 0.1rem solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav .topbar-items {
  width: 91%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem;
}

.topbar-items .pages-links ul,
.social-links ul {
  display: flex;
}
.topbar-items .pages-links ul li,
.social-links ul li {
  list-style: none;
}
.topbar-items .pages-links ul li:nth-child(2),
.pages-links ul li:nth-child(3),
.social-links ul li:nth-child(2),
.social-links ul li:nth-child(3),
.social-links ul li:nth-child(4) {
  list-style: none;
  margin-left: 1rem;
}
.topbar-items .pages-links ul li a,
.social-links ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(26, 26, 23);
  transition: all 0.2s ease;
}
.topbar-items .pages-links ul li a:hover,
.social-links ul li a:hover {
  margin-left: 0.1rem;
  color: blueviolet;
}

.header-nav .main-header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .main-header-items {
  width: 91%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header-items .flex-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-left .logo {
  width: 20rem;
  align-items: center;
}
.logo img {
  width: 100%;
}
.flex-left .links {
  margin-left: 2rem;
  width: auto;
}
.links ul {
  display: flex;
}
.links ul li {
  list-style: none;
}
.links ul li a {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  text-decoration: none;
  color: rgb(26, 26, 23);
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.links ul li a:hover {
  color: blueviolet;
  margin-left: 2.1rem;
}
header #button {
  display: inline-block;
  justify-content: center;
  background-color: blueviolet;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border-radius: .3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 200;
}
#button i{
  font-size: 2rem;
  color: #ffffff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
/* Header Css End */

/* Footer css start */
.container footer {
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  width: 100%;
  background: #ffffff;
  box-shadow: 0rem 1.5rem 2rem #161618;
  margin-top: 2rem;
}

.container footer .primary-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container footer .footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container .footer-widgets {
  width: 91%;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0rem;
  justify-content: space-between;
}
.footer-widgets .footer-section {
  width: 20rem;
  display: flex;
  flex-direction: column;
}
.footer-widgets .section-1 {
  width: 35rem;
}
.footer-section h6 {
  font-size: 2rem;
  color: #161618;
}
.footer-section p,
.footer-links {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #161618;
  line-height: 1.7;
}
.footer-section .footer-links li {
  list-style: none;
}
.footer-section .footer-links li a {
  text-decoration: none;
  color: #161618;
  transition: all 0.2s ease;
}
.footer-section .footer-links li a:hover {
  color: blueviolet;
}
.primary-footer .small {
  width: 91%;
}
.primary-footer .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.primary-footer .container .rows {
  width: 91%;
  display: flex;
  justify-content: space-between;
}
.rows .row1 p {
  color: #161618;
  font-size: 1.5rem;
}
.rows .row2 ul {
  display: flex;
}
.rows .row2 ul li {
  list-style: none;
  margin-left: 2rem;
}
.rows .row2 ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #161618;
  transition: all 0.2s ease;
}
.rows .row2 ul li a:hover {
  color: blueviolet;
}
/* Footer css end */

/* Mobile sidemenu css start */
.content-wrapper .side-menu {
  position: fixed;
  width: 30rem;
  height: 100vh;
  top: 0;
  left: -35rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  transition: all 0.2s ease;
  display: none;
}
.side-menu .show-phone-menu {
  position: fixed;
  font-size: 3.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 1rem;
  right: 2.5rem;
  z-index: 99;
}
.side-menu.active {
  left: 0;
}
.side-menu.active .show-phone-menu {
  display: none;
}
.side-menu .side-menu-header {
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  box-shadow: -1rem -0.6rem 1rem #161618;
}
.side-menu-header .phone-logo {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.phone-logo img {
  width: 20rem;
}
.side-menu-header button {
  margin-left: 2rem;
  font-size: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.side-menu .side-menu-flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-menu-flex .phone-menu {
  width: 100%;
}
.phone-menu ul {
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
}
.phone-menu ul li {
  list-style: none;
  margin-top: 2rem;
}
.phone-menu ul li a {
  font-size: 1.4rem;
  color: #161618;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s ease;
  text-transform: uppercase;
}
.phone-menu ul li a:hover {
  color: blueviolet;
}
.side-menu-flex .phone-menu-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.phone-menu-footer .social,
.menu {
  width: 100%;
  margin: 1rem 0rem;
  padding: 0;
}
.phone-menu-footer .social ul,
.menu ul {
  display: flex;
}
.phone-menu-footer .social ul li,
.menu ul li {
  list-style: none;
  margin-left: 2rem;
}
.phone-menu-footer .social ul li a,
.menu ul li a {
  color: #161618;
  font-size: 1.4rem;
  text-decoration: none;
}
/* Mobile sidemenu css end */

/* Media Querys for font size start */
@media (max-width: 880px) {
  html {
    font-size: 60%;
  }
}
/* Media Querys for font size end */


/* Media querys for header and main body start */
@media (max-width: 880px) {
  .header-nav {
    height: 6rem;
    box-shadow: -1rem -0.6rem 1rem #161618;
  }
  .header-nav .topbar,
  .header-nav .main-header .main-header-items .flex-left .links {
    display: none;
  }
  .content-wrapper .container {
    flex-direction: column;
  }
  .container main {
    width: 100%;
  }
  .container aside {
    width: 100%;
    margin-top: 5rem;
  }
  .content-wrapper .side-menu {
    display: flex;
  }
}
/* Media querys for header and main body end */

/* Media querys for main body posts & footer start */
@media (max-width: 620px) {
  .blog-post {
    width: 70%;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: space-around;
    /* background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5)); */
  }
  .blog-post .box {
    width: 100%;
  }
  .footer-widgets .footer-section {
    width: 50%;
    margin-top: 1rem;
  }
  .footer-widgets .section-1 {
    width: 100%;
  }
  .primary-footer .container .rows {
    width: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rows .row1 p {
    text-align: center;
  }
  .rows .row2 {
    margin-top: 1rem;
  }
  .side-menu .show-phone-menu {
    right: 1.5rem;
  }
}
@media (max-width: 340px) {
  .content-wrapper .side-menu {
    width: 100%;
  }
}
/* Media querys for main body posts & footer end */
